html {
	width: 100%;
	height: 100%;
}
body {
	height: 100%;
	width: 100%;
	background-color: #212121;
	color: white;
}

input, button {
	background-color: #616161;
	padding: 12px;
	border: none;
	border-radius: 4px;
}
button:hover {
	background-color: #757575;
}
input[type=checkbox] {
	height: 20px;
	width: 20px;
	cursor: pointer;
}

ul {
	list-style: none;
}

.compact-text-form {
	width: 100%;
	input {
		display: inline;
		box-sizing: border-box;
		width: calc(100% - 45px);
		margin-right: 0;
	}
	button {
		display: inline;
		box-sizing: border-box;
		width: 40px;
		margin-left: 0;
	}
}

.checkbox-label {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	span {
		float: left; // this fixes a issue where the span is moved below the checkbox
		margin-right: 10px;
	}
	input[type=checkbox] {
		margin-top: 10px;
	}
}
