#taskspanel {
	float: left;
	margin: 0;
	height: 100vh;
	width: calc(100% - 442px);
	padding: 10px;

	#tasklist {
		padding: 0;
	}
	#tasklist li {
		position: relative;
		margin-bottom: 4px;
		height: 40px;
		line-height: 40px;
		background-color: #313131;
		border-radius: 4px;
		padding-left: 40px;
		input[type=checkbox] {
			position: absolute;
			left: 10px;
			top: 10px;
		}
		.btn-delete {
			position: absolute;
			right: 5px;
			top: 10px;
			width: 20px;
			height: 20px;
			line-height: 20px;
			padding: 0;
		}
	}
}
